.warning {
    background-color: #FFC107;
    border-radius: 8px;
    padding: 16px;
}

:root {
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 3rem;

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 3rem;

    --border-radius-xs: 0.25rem;
    --border-radius-sm: 0.5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.5rem;

    /*
        sm 576
        md 768
        lg 992 
    */
}

.inner-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 var(--padding-md);
}

h1 {
    margin-top: 64px;
    margin-bottom: 64px;
    font-size: 3rem;
}

h2 {
    margin: var(--margin-md) 0;
}

header {
    margin: var(--margin-lg) 0;
}

nav li:first-child {
    margin-right: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: var(--padding-md);
}

@media (min-width: 768px) {
    .nav ul {
        flex-direction: row;
    }

}

main img {
    border-radius: var(--border-radius-md);
}

.socials {
    display: flex;
    gap: var(--border-radius-sm);
    margin: 1em 0 1em 0;
}

.socials img {
    border-radius: var(--border-radius-sm);
}

.cta {
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
    max-width: 400px;
    padding: var(--padding-md) var(--padding-lg);
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.service:first-child {
    margin: var(--margin-lg) 0 var(--margin-md) 0;
}

.service {
    padding: var(--padding-sm);
    margin: var(--margin-md) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.service-details {
    max-width: 400px;
}

.service img {
    display: inline;
}

@media (min-width: 768px) {
    .service {
        flex-direction: row;
    }

    .service-details {
        margin: 0 var(--margin-md);
    }

    .service:nth-child(2) {
        flex-direction: row-reverse;
    }
}


.card-grid {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #C9C9C9;
    border-radius: var(--border-radius-sm);
    padding: 24px;
    width: 100%;
    margin: var(--margin-md) 0;
}

.card-header {
    display: flex;
}

.card-header div {
    margin: var(--margin-md);
}


@media (min-width: 768px) {
    .card-grid {
        gap: 1rem;
    }

    .card {
        margin: 0;
        max-width: 45%;
    }

    .card-header {}

    .card-header div {}
}