/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
}

.inner-container {
    max-width: 960px;
    margin: 0 auto;

    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    transform: translateY(-8px);
    border-radius: 0px 0px 8px 8px;
    background-color: #EEEEEE;
    padding: 40px 40px;
    height: 20vh;
}

.spacer {
    height: 200vh;
}

.flex-row {
    display: flex;
    justify-content: space-between
}