/* Basic reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Google Sans Flex';
    background-color: black;
}

.container {
    margin: 0 auto;

    max-width: 700px;
    height: 100vh;

    background-color: #E9E9E9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

button {
    cursor: pointer;
}


/* default warning button style */
.warning-button {
    /* hides content outside the bounds of this element */
    overflow: hidden;

    text-transform: uppercase;
    font-family: 'Google Sans Flex';
    font-size: 1.5rem;

    border: solid 2px #dc3545;
    border-radius: 8px;
    padding: 16px 32px;
    width: 100%;

    transition: background-color 0.2s ease-out, color 0.3s linear, transform 0.2s ease-in;

    /* animated values */
    background-color: transparent;
    color: #dc3545;
}

.warning-button:focus {
    outline: none;
}

/*  Animated '!', this could be a font-awesome icon or a spinner or something.
    :before creates a pseudo element */
.warning-button::before {
    /* don't take up space in the layout */
    position: absolute;
    display: inline-block;
    content: '!';

    font-size: 2rem;

    color: transparent;
    transform: translate(-12px, -20px);

    /* transition go on the base element */
    transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
}

.warning-button:hover::before,
.warning-button:focus::before {
    position: absolute;
    display: inline-block;
    content: '!';

    transform: translate(-12px, -6px);
    color: white;
    pointer-events: none;

}

.warning-button:hover::before:hover,
.warning-button:focus::before:focus {
    position: absolute;
    display: inline-block;
    content: '!';
}

.warning-button:hover,
.warning-button:focus {
    background-color: #dc3545;
    color: #fff;
}

.warning-button .text {
    display: inline-block;
    transition: transform 0.2s ease-in;
}

.warning-button:hover .text,
.warning-button:focus .text {
    transform: translateX(15px);
}

/*  trick to select the parent of an element
    we use this to set up the outer border */
.warning-border:has(.warning-button) {
    padding: 18px;
    margin: 0px;
    border: solid 4px #dc354600;
    position: relative;
}

/*  same trick, but only find elements that are being hovered */
.warning-border:has(.warning-button:hover),
.warning-border:has(.warning-button:focus) {
    border-radius: 12px;
    padding: 4px;
    margin: 14px;
    border: solid 4px #dc3546ff;
    transition: padding 0.2s ease-out, border 0.4s ease-in-out, margin 0.2s ease-out;
}

.purchase-border {
    width: 100%;
    padding: 0px 18px;
}

.purchase-button {
    /* hides content outside the bounds of this element */
    overflow: hidden;

    text-transform: uppercase;
    font-family: 'Google Sans Flex';
    font-size: 1.5rem;

    border: solid 2px #28a745;
    border-radius: 8px;
    padding: 16px 32px;

    transition: background-color 0.2s ease-out, color 0.3s linear, transform 0.2s ease-in;

    /* animated values */
    background-color: transparent;
    color: #28a745;

    width: 100%;
}

.purchase-button:focus {
    outline: solid 4px #28a745;
}

.purchase-button span {
    transition: transform 0.3s ease-out, color 0.2s ease-in;
}

.purchase-text span::after {
    display: block;
    content: '';
}

.purchase-button:hover span,
.purchase-button:focus span {
    color: transparent;
    display: block;
    transform: translateY(-100%);
}

.purchase-button:hover .purchase-text span::after,
.purchase-button:focus .purchase-text span::after {
    display: flex;
    position: absolute;
    content: attr(data-replace);
    color: #28a745;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.purchase-button:active .purchase-text span::after {
    display: flex;
    position: absolute;
    content: 'Heck yeah!';
    color: #28a745;
    justify-content: center;
    align-items: center;
    width: 100%;
}