:root {
    --red: #F35F61;
    --orange: #F19741;
    --blue: #00AAF3;
    --brown: #554242;
    --brown-50: #816565;
    --white: #FFFFFF;
}

body {
    padding: 2rem;
    font-family: 'SUSE', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #000, #333);
    z-index: -1;
    opacity: 0.7;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--white);
    letter-spacing: 0.05em;
}

section h2 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    margin-top: 0rem;
    color: var(--white);
    letter-spacing: 0.05em;
    flex-basis: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.tiny-1 {
    background-color: var(--red);
}

.tiny-2 {
    background-color: var(--orange);
}

.tiny-3 {
    background-color: var(--blue);
}

.tiny-4 {
    background-color: var(--brown);
}

.tiny-5 {
    background-color: white;
    color: var(--brown);
    border: 2px solid var(--brown);
}

.tiny-button {
    border-radius: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: block;

    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    transition: transform 0.1s;
    color: var(--white);
    font-weight: bold;

    border: none;
    user-select: none;

    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.hard-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

a.tiny-button:hover {
    transform: scale(1.05) translateY(-2px);
}

a.tiny-button:active {
    transform: scale(0.95) translateY(0);
}

a.tiny-button:focus {
    outline: 2px solid var(--blue);
    border-radius: 1.5rem;
    outline-offset: 0.25rem;
    outline-style: dashed;
}

a.tiny-button:hover {
    text-decoration: none;
}

button {
    background-color: var(--blue);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    border: none;
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    outline: none;
    letter-spacing: 0.05em;
    user-select: none;
    transition: transform 0.1s ease-out;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: 2px solid var(--blue);
    outline-offset: 4px;
    outline-style: dashed;
}

button {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

button:active {
    transform: scale(0.95) translateY(0);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 100%;
}

.button-row button {
    margin: 0.5rem 0.5rem;
}

.button-row button:nth-of-type(1) {
    background-color: var(--red);
}

.button-row button:nth-of-type(2) {
    background-color: var(--orange);
}

.button-row button:nth-of-type(3) {
    background-color: var(--blue);
}

.button-row button:nth-of-type(4) {
    background-color: var(--brown);
}

.dark-background {
    background: #333;
    padding: 1rem;
    margin: 0.5rem -2rem 2rem -1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #444, 0 2px 4px 0px rgba(0, 0, 0, 0.06);
}

button.glowy-button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.1s ease-in-out, transform 0.05s linear, text-shadow 0.1s ease-in-out;
}

#glowy-1 {
    box-shadow: 0 0 15px var(--red);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

#glowy-2 {
    box-shadow: 0 0 15px var(--orange);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#glowy-3 {
    box-shadow: 0 0 15px var(--blue);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#glowy-4 {
    box-shadow: 0 0 15px var(--brown-50);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

button:disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
    text-shadow: none !important;
    transform: scale(1) translate(0) !important;

}

button.disabled:hover {
    transition: transform 0s linear;
}

.circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff;
    border-radius: 0.85rem;
    float: left;
    margin-right: -1rem;
    margin-left: -1rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}