<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>HTML Layout Examples</title>
</head>

<body>
    <div class="background">
        <header>
            <div class="inner-container">
                <h1>Flex :)</h1>
            </div>
            <nav>

            </nav>
        </header>
        <main>
            <div class="inner-container">
                <section>
                    <h2>Flex Row</h2>
                    <div class="container row">
                        <div class="box box1"></div>
                        <div class="box box2"></div>
                        <div class="box box3"></div>
                        <div class="box box5"></div>
                    </div>
                </section>
                <section>
                    <h2>Flex Column</h2>
                    <div class="container column">
                        <div class="box col-box col-box4"></div>
                        <div class="box col-box col-box2"></div>
                    </div>
                </section>
                <section>
                    <h2>Flex Row with Wrap</h2>
                    <div class="container row wrap">
                        <div class="box box1"></div>
                        <div class="box box2"></div>
                        <div class="box box3"></div>
                        <div class="box box4"></div>
                        <div class="box box5"></div>
                        <div class="box box6"></div>
                        <div class="box box7"></div>
                        <div class="box box8"></div>
                        <div class="box box9"></div>
                    </div>
                </section>
                <section>
                    <h2>Flex Column with Wrap</h2>
                    <div class="container column wrap">
                        <div class="box col-box col-box4"></div>
                        <div class="box col-box col-box2"></div>
                        <div class="box col-box col-box3"></div>
                        <div class="box col-box col-box4"></div>
                        <div class="box col-box col-box5"></div>
                        <div class="box col-box col-box1"></div>
                        <div class="box col-box col-box1"></div>
                        <div class="box col-box col-box2"></div>
                        <div class="box col-box col-box3"></div>
                        <div class="box col-box col-box5"></div>
                    </div>
                </section>
                <section>
                    <h2>Nested</h2>
                    <div class="nested-row">
                        <div class="nested-column">
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                        </div>
                        <div class="nested-column">
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                            <div class="nested-box"></div>
                        </div>
                    </div>
                </section>
            </div>

        </main>
        <footer></footer>
    </div>
</body>

</html>